*{
    font-family: montserrat, sans-serif;
    margin: 0;


}


@media(max-width:720px){
    body{
        overflow-x: hidden;
    }
    .hero-image{
        display: none;
    }
    nav{
        display: flex;
        justify-content: space-around;
        background-color: rgb(205, 201, 201);

    }
    .hero {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 400px;
        background-color: #F5F5F5;

    }

    .hero-text-container {
        text-align: center;
        padding: 0 2em;
        z-index: 1;
        position: relative;

    }



    .hero-heading {
        font-size: 3em;
        font-weight: bold;
        margin-bottom: 0.5em;
    }

    .hero-subheading {
        font-size: 1.2em;
        margin-bottom: 2em;
    }

    .hero-button {
        display: inline-block;
        padding: 0.5em 1.5em;
        background-color: #121111;
        color: #FFFFFF;
        border-radius: 25px;
        text-decoration: none;
        font-size: 1.2em;
    }

    .hero-button:hover {
        background-color: #666666;
    }


    .burger{
        margin-top: 1.2em;
        cursor: pointer;
    }
    .burger div{
        width: 25px;
        height: 3px;
        background-color: white;
        margin: 5px;
        transition: all 0.4s ease-in-out;
    }
    .navlinks{
        position: absolute;
        list-style: none;

        height: 100vh;
        width: 50%;
        background-color: rgb(205, 201, 201);
        padding: 2em;
        margin-right: -16em;
        padding-top: 10em;
        transform: translateX(100%);
        margin-top: 4em;




    }
    .nav-active{
        transform: translateX(0%);
        transition: all 0.5s ease-in-out;
        z-index: 1000;
    }
    .navlink{
        text-decoration: none;
        color: black;
        font-weight: 600;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 7em;


    }
    .close .line1 {
        /* change properties when menu is active */
        transform: rotate(45deg) translate(5px, 5px);
      }
    .close .line2 {
       opacity: 0;
      }
    .close .line3 {
        /* change properties when menu is active */
        transform: rotate(-45deg) translate(5px, -7px);
      }
      .container {

        display: none;
      }

        .gender {
        grid-template-columns: repeat(1, 1fr);
        padding: 1em;
        justify-content: center;
        align-items: center
        }
        .genders {
        width: 100%;
        transform: scale(1);
        text-align: center;
        margin-bottom: 2em;

        }
        .woman {
        transform: scale(1);
        }
        .genders img {
        width: 100%;
        box-shadow: 5px 5px 20px 0px #333;
        }
        .genders a{
          color: #121111;
          text-decoration: none;
          font-weight: bold;
        }
        .genders a:hover{
          color: rgb(249, 42, 42);
        }
        .main-content p {
          font-size: 1.2em;
          }

          .main-content{
          padding: 0.5em;
          margin: 0.5em;
          }



          .mobile-border-radius {
          border-radius: 10px;
          }

          .hero-button{
          width: 80%;
          height: 30px;
          font-size: 1.2em;
          padding: 0.5em;
          margin: 0.5em;

          }
          .hero-button2{
            display: none;
          }




















}
@media(min-width:720px){
    body{
        overflow-x: hidden;
    }
    nav{
        display: flex;
        justify-content: space-around;
        padding-top: 1em;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999;
        background-color: white;


    }
    .hero {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 600px;
        background-color: #F5F5F5;
        flex-direction: row-reverse;
        border-bottom: 2px solid #333;
    }

    .hero-text-container {
        padding: 2em;
        z-index: 1;
    }

    .hero-heading {
        font-size: 3em;
        font-weight: bold;
        margin-bottom: 0.5em;
    }

    .hero-subheading {
        font-size: 1.2em;
        margin-bottom: 2em;
    }

    .hero-button {
        display: inline-block;
        padding: 0.5em 1.5em;
        background-color: #333333;
        color: #FFFFFF;
        border-radius: 25px;
        text-decoration: none;
        font-size: 1.2em;
    }
    .hero-button2 {
        display: inline-block;
        padding: 0.5em 1.5em;
        background-color: #33333300;
        color: #070707;
        border-radius: 25px;
        border-color: #070707;
        border: solid;
        text-decoration: none;
        font-size: 1.2em;
    }

    .hero-button:hover {
        background-color: #666666;
    }
    .hero-image{
        transform: scale(1.2);
        margin-right: 2em;


    }


    .logo{
        transform: scale(2.5);
    }
    .burger{
        display: none;
    }
    .navlinks{
        list-style: none;
        display: flex;

    }
    .navlink{
        text-decoration: none;
        color: black;
        margin-right: 3em;
        font-weight: 600;
    }
    .container {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        width: 100%;

      }
      .line{
        width: 200%;
        height: 2px;
        background-color: #333;
        margin-left: -5em;
        margin-top: 2em;

      }

      .item {
        flex: 1;
        align-items: center;
        text-align: center;
        transform: scale(0.6);
        width: 80%;
        margin: 0 auto;

      }

      .item img {
        width: 25%;
        margin-bottom: 1em;


      }
      .item p{
        font-size: 1.6em;
        font-weight: bold;
      }
      .gender{
        background: linear-gradient(to bottom, #F2A449, white);

        display: grid; /* enable grid layout */
        grid-template-columns: repeat(3, 1fr); /* create 3 equal-width columns */
        grid-gap: 10px; /* add some gap between items */
        place-items: center;
        padding: 2em;

      }
      .genders{


            text-align: center;
            transform: scale(0.8);

            width: 160%;
      }
      .woman{
        transform: scale(0.9);

      }
      .genders img {
        width: 25%;

        border-radius: 25px;
        transition: all 1s ease-in-out;

      }
      .genders img:hover{
        width: 30%;

      }
      .genders a{
        font-size: 1.4em;
        font-weight: bold;
        text-decoration: none;
        color: #121111;

      }
       .genders a:hover{
        border-bottom: 4px solid red;
      }





      @keyframes move {
        0% {
          transform: translateX(-100%);
        }
        20% {
          transform: translateX(20%);
        }
        40% {
          transform: translateX(-10%);
        }
        60% {
          transform: translateX(5%);
        }
        80% {
          transform: translateX(-2%);
        }
        100% {
          transform: translateX(0%);
        }
      }

}

footer{
  text-align: center;
  background-color: #F5F5F5;
  padding: 30px;
  border-top:10xp solid orange ;
  border-radius: 15px;
}

footer a{
  text-decoration: none;
  
}

.ftr-h{
  margin-bottom: 11px;
}
